dist/index.html
<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1"><meta name="author" content="Dmitriy Granyov"><meta name="description" content="Auhandy Landing Page"><link rel="shortcut icon" href="./img/favicon-32x32.png" type="image/x-icon"><title>Auhandy Landing Page</title><script defer="defer" src="js/main.bundle.js"></script><link href="main.963f511e8ed6a4c6dca2.css" rel="stylesheet"></head><body><header class="header"><div class="headbar"><div class="container"><div class="headbar__content"><span class="headbar__title">We make your home more quality.</span><div class="socials"><a class="socials__link" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a><a class="socials__link" href="https://twitter.com/"><i class="fab fa-twitter"></i></a><a class="socials__link" href="https://www.google.com/"><i class="fab fa-google-plus-g"></i></a><a class="socials__link" href="https://www.behance.net/"><i class="fab fa-behance"></i></a></div></div></div></div><div class="header__wrap"><div class="container"><div class="navbar navbar-expand-lg"><a class="navbar-brand" href="#"><img src="./img/logo.svg"><div class="navbar-brand__group"><h2>AUHandy</h2><small>We repair everything.</small></div></a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button><div class="header__group collapse navbar-collapse" id="navbarSupportedContent"><ul class="navbar-nav ml-auto"><li class="nav-item"><a class="nav-link" href="#">home</a></li><li class="nav-item"><a class="nav-link" href="#services">services</a></li><li class="nav-item"><a class="nav-link" href="#projects">projects</a></li><li class="nav-item"><a class="nav-link" href="#">pages</a></li><li class="nav-item"><a class="nav-link" href="#">blog</a></li><li class="nav-item"><a class="nav-link" href="#contact">contact</a></li></ul><div class="serachform__wrap"><button class="searchform__collapse" id="search__btn" type="button"><i class="fas fa-search"></i></button><form class="header__form searchform" id="searchform"><input class="searchform__input"><button class="searchform__submit" type="submit"><i class="fas fa-search"></i></button></form></div></div></div></div></div></header><section class="hero"><div class="container"><div class="row"><div class="col-md-5"><img class="hero__img" src="./img/hero-img.png"></div><div class="col-md-7"><h1 class="hero__title">Expert Handyman &amp; Remodeling</h1><p class="hero__subtitle">Integer consectetur dapibus nisi, et faucibus augue lobortis ut. Proin quis porttitor sem. Donec ultrices felis quis tincidunt</p><div class="hero__btns"><button class="btn__primary" id="btn__learnmore">Learn More</button><button class="btn__secondary hero__btn">Get a qute</button></div></div></div></div></section><section class="cta"><div class="container"><div class="cta__content"><p class="cta__title">We have 13 years of experience in Auhandy.</p><button class="btn__primary cta__btn"><i class="fas fa-mobile-alt cta__icon"></i>+1 23 568 8967</button></div></div></section><section class="features"><div class="container"><div class="row"><div class="col-xl-5"><img class="features__img" src="./img/features-img.png"></div><div class="col-xl-7"><div class="features__content"><h2 class="features__title">Why Choose Us</h2><div class="devider features__devider"></div><p class="features__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec ligula temp cursus justo eu, blandit quam. Sed viverra, quam ut maximus porta, lorem bibendum metus, et eleifend mi nunc ac arcu facilisis lorem urna eu quam.</p><div class="row"><div class="col-md-6"><div class="media"><div class="media-img"><img src="./img/gear.png"></div><div class="media-body"><h3 class="media-title">Easy To Customize.</h3><p class="media-subtitle">Mauris efficitur mi eu nisi venenatis vestibulum sit tellus.</p></div></div></div><div class="col-md-6"><div class="media"><div class="media-img"><img src="./img/comment.png"></div><div class="media-body"><h3 class="media-title">24/7 Support Service</h3><p class="media-subtitle">Aliquam vel felis quis ipsum fermentum sollicitudin eget.</p></div></div></div></div><div class="row"><div class="col-md-6"><div class="media"><div class="media-img"><img src="./img/gift.png"></div><div class="media-body"><h3 class="media-title">Gift For Loyal Customers</h3><p class="media-subtitle">Ut imperdiet libero sed tel pretium convallis quis lectus.</p></div></div></div><div class="col-md-6"><div class="media"><div class="media-img"><img src="./img/like.png"></div><div class="media-body"><h3 class="media-title">Favorite Customers</h3><p class="media-subtitle">Lorem ipsum dolor sit a consectetur adipiscing.</p></div></div></div></div></div></div></div></div></section><section class="services" id="services"><div class="container"><h2 class="services__title">Our Services</h2><div class="devider devider--white services__devider"></div><div class="carousel__wrap"><div class="carousel" id="carousel"><div class="carousel-item"><div class="carousel-item__content"><img class="carousel-item__img" src="./img/gears.png"><h3 class="carousel-item__title">Engine Repairs</h3><span class="carousel-item__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></div></div><div class="carousel-item"><div class="carousel-item__content"><img class="carousel-item__img" src="./img/light-bolt.png"><h3 class="carousel-item__title">Electrical</h3><span class="carousel-item__subtitle">Donec malesuada, purus a viverra sodales leo purus lobortis</span></div></div><div class="carousel-item"><div class="carousel-item__content"><img class="carousel-item__img" src="./img/pipe.png"><h3 class="carousel-item__title">Plumbing</h3><span class="carousel-item__subtitle">Praesent dignissim mattis mauris. Sed finibus elementu.</span></div></div><div class="carousel-item"><div class="carousel-item__content"><img class="carousel-item__img" src="./img/wrench.png"><h3 class="carousel-item__title">Repair Houses</h3><span class="carousel-item__subtitle">Phasellus venenatis mauris eget isque tincidunt</span></div></div><div class="carousel-item"><div class="carousel-item__content"><img class="carousel-item__img" src="./img/roller-brush.png"><h3 class="carousel-item__title">Wall Paint</h3><span class="carousel-item__subtitle">Elit dui scelerisque leo, no lacinia orci lectus comm.</span></div></div><div class="carousel-item"><div class="carousel-item__content"><img class="carousel-item__img" src="./img/shop.png"><h3 class="carousel-item__title">Maintenance</h3><span class="carousel-item__subtitle">Pellentesque tellus nunc, semper eu lacus fermentum.</span></div></div><div class="carousel-item"><div class="carousel-item__content"><img class="carousel-item__img" src="./img/hammer.png"><h3 class="carousel-item__title">Installation</h3><span class="carousel-item__subtitle">Maecenas dapibus the libero sed mauris fringilla sodales.t</span></div></div><div class="carousel-item"><div class="carousel-item__content"><img class="carousel-item__img" src="./img/shovel.png"><h3 class="carousel-item__title">Garden Repairs</h3><span class="carousel-item__subtitle">Nam convallis nunc non sodale at aliquet ipsum ornare vel.</span></div></div></div><button class="carousel__prev carousel__btn" id="carousel__prev"><i class="fas fa-long-arrow-alt-left"></i></button><button class="carousel__next carousel__btn" id="carousel__next"><i class="fas fa-long-arrow-alt-right"></i></button></div><button class="btn__primary services__btn">View All Services</button></div></section><section class="projects" id="projects"><div class="container"><h2 class="projects__title">Our Projects</h2><div class="devider projects__devider"></div><div class="tabs__content navbar navbar-expand-md"><div class="tabs__title">project list</div><button class="tabs__toggler" type="button" data-toggle="collapse" data-target="#tabs" aria-controls="tabs" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-caret-down"></i></button><div class="tabs nav nav-tabs collapse navbar-collapse" id="tabs" role="tablist"><a class="tab active" id="tabs-all-tab" data-toggle="tab" href="#tabs-all" role="tab" aria-controls="tabs-all" aria-selected="true">All</a><a class="tab" id="tabs-engine-tab" data-toggle="tab" href="#tabs-engine" role="tab" aria-controls="tabs-engine" aria-selected="true">Engine Repair</a><a class="tab" id="tabs-electrical-tab" data-toggle="tab" href="#tabs-electrical" role="tab" aria-controls="tabs-electrical" aria-selected="false">Electrical</a><a class="tab" id="tabs-plumbing-tab" data-toggle="tab" href="#tabs-plumbing" role="tab" aria-controls="tabs-plumbing" aria-selected="false">Plumbing</a><a class="tab" id="tabs-house-tab" data-toggle="tab" href="#tabs-house" role="tab" aria-controls="tabs-house" aria-selected="false">Repair House</a><a class="tab" id="tabs-wall-tab" data-toggle="tab" href="#tabs-wall" role="tab" aria-controls="tabs-wall" aria-selected="false">Wall Paint</a></div></div><div class="tab-content"><div class="tab-pane fade show active" id="tabs-all" role="tabpanel" aria-labelledby="tabs-all-tab"><div class="row"><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-lan.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-bear.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-rabbit.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-rabbit.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-lan-reverse.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-bear.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div></div></div><div class="tab-pane fade show" id="tabs-engine" role="tabpanel" aria-labelledby="tabs-enginel-tab"><div class="row"><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-bear.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-lan.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-rabbit.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-rabbit.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-lan-reverse.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-bear.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div></div></div><div class="fade tab-pane" id="tabs-electrical" role="tabpanel" aria-labelledby="tabs-electrical-tab"><div class="row"><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-rabbit.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-bear.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-lan.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-rabbit.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-lan-reverse.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-bear.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div></div></div><div class="fade tab-pane" id="tabs-plumbing" role="tabpanel" aria-labelledby="tabs-plumbing-tab"><div class="row"><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-lan.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-bear.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-rabbit.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-bear.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-lan-reverse.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-rabbit.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div></div></div><div class="fade tab-pane" id="tabs-house" role="tabpanel" aria-labelledby="tabs-house-tab"><div class="row"><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-lan-reverse.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-bear.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-rabbit.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-rabbit.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-lan.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-bear.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div></div></div><div class="fade tab-pane" id="tabs-wall" role="tabpanel" aria-labelledby="tabs-wall-tab"><div class="row"><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-bear.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-bear.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-rabbit.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-rabbit.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-lan-reverse.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div><div class="col-md-6 col-xl-4 no-padding"><button class="pane__content" style="background-image: url(&quot;./img/projects-lan.png&quot;)"><div class="pane__overlay"><h3 class="pane__title">Pellentesque finibus maximus.</h3><p class="pane__subtitle">Repair House</p><i class="fas fa-search pane__search"></i></div></button></div></div></div></div><button class="btn__primary projects__btn">All projects</button></div></section><section class="cta-footer"><div class="container"><h1 class="cta-footer__title">you have some problems in housing?</h1><button class="btn__primary cta-footer__btn"><i class="fas fa-mobile-alt cta__icon"></i>+1 23 568 8967</button></div></section><section class="contacts" id="contact"><div class="container"><div class="row"><div class="col-xl-5"><h2 class="contacts__title">Our location</h2><div class="devider contacts__devider"></div><div class="map" id="map"><img src="./img/marker.png"></div></div><div class="col-xl-7"><div class="contacts__content"><h2 class="contacts__title">Get a quote</h2><div class="devider contacts__devider"></div><form class="contacts__form"><div class="form__group"><div class="input__group contacts__name"><input class="name__input" placeholder="Your Name" name="name"><div class="form__error">Error</div></div><div class="input__group contacts__email"><input class="email__input" placeholder="Your Email" name="email"><div class="form__error">Error</div></div></div><div class="form__group"><div class="input__group contacts__subjects"><input placeholder="Your Subjects" name="subjects"></div><div class="input__group contacts__phone"><input class="phone__input" placeholder="Your Phone Number" name="phone"><div class="form__error">Error</div></div></div><textarea class="contacts__textarea" placeholder="Description Services Needed" name="description"></textarea><button class="btn__primary contacts__btn" id="form__btn" type="submit">Submit</button></form></div></div></div></div></section><section class="testimonials"><div class="container"><div class="row"><div class="col-sm-6 col-md-3"><img class="testimonials__img" src="./img/testimonials-saw.png"></div><div class="col-sm-6 col-md-3"><img class="testimonials__img" src="./img/testimonials-nails.png"></div><div class="col-sm-6 col-md-3"><img class="testimonials__img" src="./img/testimonials-plane.png"></div><div class="col-sm-6 col-md-3"><img class="testimonials__img" src="./img/testimonials-axe.png"></div></div></div></section><section class="footer"><div class="container"><div class="row"><div class="col-xl-4 col-lg-6"><h2 class="footer-contacts__title">Contact us</h2><ul class="footer-contacts__content"><li class="footer-contacts__item"><div class="footer-contacts__img"><img src="./img/phone.png"></div><div class="footer-contacts__body"><span class="footer-contacts__phone">+1 23 567 8596</span><p class="footer-contacts__subtitle">Support 24/7 Weekdays</p></div></li><li class="footer-contacts__item"><div class="footer-contacts__img"><img src="./img/mark.png"></div><p class="footer-contacts__subtitle">Auhandy Tower, New York, NY 10013, USA</p></li><li class="footer-contacts__item"><div class="footer-contacts__img"><img src="./img/envelope.png"></div><p class="footer-contacts__subtitle">info@example.com</p></li><li class="footer-contacts__item"><div class="footer-contacts__img"><img src="./img/clock.png"></div><p class="footer-contacts__subtitle">Weekdays: 09:00am - 06:00pm</p></li></ul></div><div class="col-xl-4 col-lg-6"><h2 class="footer-services__title">our services</h2><div class="row"><div class="col"><ul class="footer-services__content"><li class="footer-services__item"><img class="footer-services__img" src="./img/chevron.png"><a class="footer-services__link" href="#">Electrical</a></li><li class="footer-services__item"><img class="footer-services__img" src="./img/chevron.png"><a class="footer-services__link" href="#">Plumbing</a></li><li class="footer-services__item"><img class="footer-services__img" src="./img/chevron.png"><a class="footer-services__link" href="#">Engine Repair</a></li><li class="footer-services__item"><img class="footer-services__img" src="./img/chevron.png"><a class="footer-services__link" href="#">Repair House</a></li><li class="footer-services__item"><img class="footer-services__img" src="./img/chevron.png"><a class="footer-services__link" href="#">Home Maintenance</a></li><li class="footer-services__item"><img class="footer-services__img" src="./img/chevron.png"><a class="footer-services__link" href="#">Wall Paint</a></li></ul></div><div class="col"><ul class="footer-services__content"><li class="footer-services__item"><img class="footer-services__img" src="./img/chevron.png"><a class="footer-services__link" href="#">Installation</a></li><li class="footer-services__item"><img class="footer-services__img" src="./img/chevron.png"><a class="footer-services__link" href="#">Garden Repairs</a></li><li class="footer-services__item"><img class="footer-services__img" src="./img/chevron.png"><a class="footer-services__link" href="#">Soil Drilling</a></li><li class="footer-services__item"><img class="footer-services__img" src="./img/chevron.png"><a class="footer-services__link" href="#">Support 24/7</a></li><li class="footer-services__item"><img class="footer-services__img" src="./img/chevron.png"><a class="footer-services__link" href="#">Inspection House</a></li><li class="footer-services__item"><img class="footer-services__img" src="./img/chevron.png"><a class="footer-services__link" href="#">Remodeling Ceiling</a></li></ul></div></div></div><div class="col-xl-4 col-lg-12"><div class="footer-deal"><h2 class="footer-deal__title">GET&nbsp;<span>25%&nbsp;</span>OFF</h2><p class="footer-deal__subtitle">Electrical Services</p><p class="footer-deal__redeem">Redeem Code:&nbsp;<span>HANDYHPY28</span></p></div></div></div></div></section><section class="copyright">Copyright © 2018&nbsp;<span>Auhandy</span>. Get The Theme</section><section class="modal__overlay" id="modal__overlay"><div class="modal"><button class="close-btn" id="close__modal"><i class="fas fa-times"></i></button><h2 class="contacts__title">Get a quote</h2><div class="devider contacts__devider"></div><form class="contacts__form"><div class="form__group"><div class="input__group contacts__name"><input class="name__input" placeholder="Your Name" name="name"><div class="form__error">Error</div></div><div class="input__group contacts__email"><input class="email__input" placeholder="Your Email" name="email"><div class="form__error">Error</div></div></div><div class="form__group"><div class="input__group contacts__subjects"><input placeholder="Your Subjects" name="subjects"></div><div class="input__group contacts__phone"><input class="phone__input" placeholder="Your Phone Number" name="phone"><div class="form__error">Error</div></div></div><textarea class="contacts__textarea" placeholder="Description Services Needed" name="description"></textarea><button class="btn__primary contacts__btn" id="form__btn" type="submit">Submit</button></form></div></section></body></html>

src/index.pug
//- Mixins
mixin socialLink(socialItem)
  a.socials__link(href=socialItem.link.href)
    i(class=socialItem.icon.classes)

mixin navItem(navItem)
  li.nav-item
    a.nav-link(href=navItem.href)= navItem.linkText

mixin carouselItem(carouselItem)
  .carousel-item
    .carousel-item__content
      img.carousel-item__img(src=carouselItem.img)
      h3.carousel-item__title= carouselItem.title
      span.carousel-item__subtitle= carouselItem.subtitle

mixin tabContent(tabContentItem)
  .col-md-6.col-xl-4.no-padding
    button.pane__content(style=tabContentItem.img)
      .pane__overlay
        h3.pane__title= tabContentItem.title
        p.pane__subtitle= tabContentItem.subtitle
        i.fas.fa-search.pane__search

mixin footerContact(footerContactItem)
  li.footer-contacts__item
    .footer-contacts__img
      img(src=footerContactItem.img.src)
    if footerContactItem.phone
      .footer-contacts__body
        span.footer-contacts__phone= footerContactItem.phone
        p.footer-contacts__subtitle= footerContactItem.subtitle.text
    else
      p.footer-contacts__subtitle= footerContactItem.subtitle.text

mixin footerServices(footerServices)
  li.footer-services__item
    img.footer-services__img(src="./img/chevron.png")
    a.footer-services__link(href="#")= footerServices.link.text

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="Dmitriy Granyov")
    meta(name="description", content="Auhandy Landing Page")
    link(rel="shortcut icon", href="./img/favicon-32x32.png", type="image/x-icon")
    title Auhandy Landing Page
  body
    header.header
      .headbar
        .container
          .headbar__content
            span.headbar__title We make your home more quality.
            .socials
              - let socialArray = [];
              - socialArray.push({ link: { href: 'https://www.facebook.com/' }, icon: { classes: 'fab fa-facebook-f' } });
              - socialArray.push({ link: { href: 'https://twitter.com/' }, icon: { classes: 'fab fa-twitter' } });
              - socialArray.push({ link: { href: 'https://www.google.com/' }, icon: { classes: 'fab fa-google-plus-g' } });
              - socialArray.push({ link: { href: 'https://www.behance.net/' }, icon: { classes: 'fab fa-behance' } });
              each social in socialArray
                +socialLink(social)
      .header__wrap
        .container
          .navbar.navbar-expand-lg
            a.navbar-brand(href="#")
              img(src="./img/logo.svg")
              .navbar-brand__group
                h2 AUHandy
                small We repair everything.
            button.navbar-toggler(
              type="button",
              data-toggle="collapse",
              data-target="#navbarSupportedContent",
              aria-controls="navbarSupportedContent",
              aria-expanded="false",
              aria-label="Toggle navigation"
            )
              i.fas.fa-bars
            #navbarSupportedContent.header__group.collapse.navbar-collapse
              ul.navbar-nav.ml-auto
                - let navLinks = [];
                - navLinks.push({ href: '#', linkText: 'home' });
                - navLinks.push({ href: '#services', linkText: 'services' });
                - navLinks.push({ href: '#projects', linkText: 'projects' });
                - navLinks.push({ href: '#', linkText: 'pages' });
                - navLinks.push({ href: '#', linkText: 'blog' });
                - navLinks.push({ href: '#contact', linkText: 'contact' });
                each link in navLinks
                  +navItem(link)
              .serachform__wrap
                button#search__btn.searchform__collapse(type="button")
                  i.fas.fa-search
                form#searchform.header__form.searchform
                  input.searchform__input
                  button.searchform__submit(type="submit")
                    i.fas.fa-search
    section.hero
      .container
        .row
          .col-md-5
            img.hero__img(src="./img/hero-img.png")
          .col-md-7
            h1.hero__title Expert Handyman &amp; Remodeling
            p.hero__subtitle Integer consectetur dapibus nisi, et faucibus augue lobortis ut. Proin quis porttitor sem. Donec ultrices felis quis tincidunt
            .hero__btns
              button#btn__learnmore.btn__primary Learn More
              button.btn__secondary.hero__btn Get a qute
    section.cta
      .container
        .cta__content
          p.cta__title We have 13 years of experience in Auhandy.
          button.btn__primary.cta__btn
            i.fas.fa-mobile-alt.cta__icon
            | +1 23 568 8967
    section.features
      .container
        .row
          .col-xl-5
            img.features__img(src="./img/features-img.png")
          .col-xl-7
            .features__content
              h2.features__title Why Choose Us
              .devider.features__devider
              p.features__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec ligula temp cursus justo eu, blandit quam. Sed viverra, quam ut maximus porta, lorem bibendum metus, et eleifend mi nunc ac arcu facilisis lorem urna eu quam.
              .row
                .col-md-6
                  .media
                    .media-img
                      img(src="./img/gear.png")
                    .media-body
                      h3.media-title Easy To Customize.
                      p.media-subtitle Mauris efficitur mi eu nisi venenatis vestibulum sit tellus.
                .col-md-6
                  .media
                    .media-img
                      img(src="./img/comment.png")
                    .media-body
                      h3.media-title 24/7 Support Service
                      p.media-subtitle Aliquam vel felis quis ipsum fermentum sollicitudin eget.
              .row
                .col-md-6
                  .media
                    .media-img
                      img(src="./img/gift.png")
                    .media-body
                      h3.media-title Gift For Loyal Customers
                      p.media-subtitle Ut imperdiet libero sed tel pretium convallis quis lectus.
                .col-md-6
                  .media
                    .media-img
                      img(src="./img/like.png")
                    .media-body
                      h3.media-title Favorite Customers
                      p.media-subtitle Lorem ipsum dolor sit a consectetur adipiscing.
    section#services.services
      .container
        h2.services__title Our Services
        .devider.devider--white.services__devider
        .carousel__wrap
          #carousel.carousel
            - let carouselItems = [];
            - carouselItems.push({ img: './img/gears.png', title: 'Engine Repairs', subtitle: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.' });
            - carouselItems.push({ img: './img/light-bolt.png', title: 'Electrical', subtitle: 'Donec malesuada, purus a viverra sodales leo purus lobortis' });
            - carouselItems.push({ img: './img/pipe.png', title: 'Plumbing', subtitle: 'Praesent dignissim mattis mauris. Sed finibus elementu.' });
            - carouselItems.push({ img: './img/wrench.png', title: 'Repair Houses', subtitle: 'Phasellus venenatis mauris eget isque tincidunt' });
            - carouselItems.push({ img: './img/roller-brush.png', title: 'Wall Paint', subtitle: 'Elit dui scelerisque leo, no lacinia orci lectus comm.' });
            - carouselItems.push({ img: './img/shop.png', title: 'Maintenance', subtitle: 'Pellentesque tellus nunc, semper eu lacus fermentum.' });
            - carouselItems.push({ img: './img/hammer.png', title: 'Installation', subtitle: 'Maecenas dapibus the libero sed mauris fringilla sodales.t' });
            - carouselItems.push({ img: './img/shovel.png', title: 'Garden Repairs', subtitle: 'Nam convallis nunc non sodale at aliquet ipsum ornare vel.' });
            each carouselItem in carouselItems
              +carouselItem(carouselItem)
          button#carousel__prev.carousel__prev.carousel__btn
            i.fas.fa-long-arrow-alt-left
          button#carousel__next.carousel__next.carousel__btn
            i.fas.fa-long-arrow-alt-right
        button.btn__primary.services__btn View All Services
    section#projects.projects
      .container
        h2.projects__title Our Projects
        .devider.projects__devider
        .tabs__content.navbar.navbar-expand-md
          .tabs__title project list
          button.tabs__toggler(type="button", data-toggle="collapse", data-target="#tabs", aria-controls="tabs", aria-expanded="false", aria-label="Toggle navigation")
            i.fas.fa-caret-down
          #tabs.tabs.nav.nav-tabs.collapse.navbar-collapse(role="tablist")
            a#tabs-all-tab.tab.active(data-toggle="tab", href="#tabs-all", role="tab", aria-controls="tabs-all", aria-selected="true") All
            a#tabs-engine-tab.tab(data-toggle="tab", href="#tabs-engine", role="tab", aria-controls="tabs-engine", aria-selected="true") Engine Repair
            a#tabs-electrical-tab.tab(data-toggle="tab", href="#tabs-electrical", role="tab", aria-controls="tabs-electrical", aria-selected="false") Electrical
            a#tabs-plumbing-tab.tab(data-toggle="tab", href="#tabs-plumbing", role="tab", aria-controls="tabs-plumbing", aria-selected="false") Plumbing
            a#tabs-house-tab.tab(data-toggle="tab", href="#tabs-house", role="tab", aria-controls="tabs-house", aria-selected="false") Repair House
            a#tabs-wall-tab.tab(data-toggle="tab", href="#tabs-wall", role="tab", aria-controls="tabs-wall", aria-selected="false") Wall Paint
        .tab-content
          #tabs-all.tab-pane.fade.show.active(role="tabpanel", aria-labelledby="tabs-all-tab")
            .row
              - let allContent = [];
              - allContent.push({ img: 'background-image: url("./img/projects-lan.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - allContent.push({ img: 'background-image: url("./img/projects-bear.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - allContent.push({ img: 'background-image: url("./img/projects-rabbit.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - allContent.push({ img: 'background-image: url("./img/projects-rabbit.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - allContent.push({ img: 'background-image: url("./img/projects-lan-reverse.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - allContent.push({ img: 'background-image: url("./img/projects-bear.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              each item in allContent
                +tabContent(item)
          #tabs-engine.tab-pane.fade.show(role="tabpanel", aria-labelledby="tabs-enginel-tab")
            .row
              - let engineContent = [];
              - engineContent.push({ img: 'background-image: url("./img/projects-bear.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - engineContent.push({ img: 'background-image: url("./img/projects-lan.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - engineContent.push({ img: 'background-image: url("./img/projects-rabbit.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - engineContent.push({ img: 'background-image: url("./img/projects-rabbit.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - engineContent.push({ img: 'background-image: url("./img/projects-lan-reverse.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - engineContent.push({ img: 'background-image: url("./img/projects-bear.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              each item in engineContent
                +tabContent(item)
          #tabs-electrical.fade.tab-pane(role="tabpanel", aria-labelledby="tabs-electrical-tab")
            .row
              - let electricalContent = [];
              - electricalContent.push({ img: 'background-image: url("./img/projects-rabbit.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - electricalContent.push({ img: 'background-image: url("./img/projects-bear.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - electricalContent.push({ img: 'background-image: url("./img/projects-lan.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - electricalContent.push({ img: 'background-image: url("./img/projects-rabbit.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - electricalContent.push({ img: 'background-image: url("./img/projects-lan-reverse.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - electricalContent.push({ img: 'background-image: url("./img/projects-bear.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              each item in electricalContent
                +tabContent(item)
          #tabs-plumbing.fade.tab-pane(role="tabpanel", aria-labelledby="tabs-plumbing-tab")
            .row
              - let plumbingContent = [];
              - plumbingContent.push({ img: 'background-image: url("./img/projects-lan.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - plumbingContent.push({ img: 'background-image: url("./img/projects-bear.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - plumbingContent.push({ img: 'background-image: url("./img/projects-rabbit.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - plumbingContent.push({ img: 'background-image: url("./img/projects-bear.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - plumbingContent.push({ img: 'background-image: url("./img/projects-lan-reverse.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - plumbingContent.push({ img: 'background-image: url("./img/projects-rabbit.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              each item in plumbingContent
                +tabContent(item)
          #tabs-house.fade.tab-pane(role="tabpanel", aria-labelledby="tabs-house-tab")
            .row
              - let houseContent = [];
              - houseContent.push({ img: 'background-image: url("./img/projects-lan-reverse.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - houseContent.push({ img: 'background-image: url("./img/projects-bear.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - houseContent.push({ img: 'background-image: url("./img/projects-rabbit.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - houseContent.push({ img: 'background-image: url("./img/projects-rabbit.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - houseContent.push({ img: 'background-image: url("./img/projects-lan.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - houseContent.push({ img: 'background-image: url("./img/projects-bear.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              each item in houseContent
                +tabContent(item)
          #tabs-wall.fade.tab-pane(role="tabpanel", aria-labelledby="tabs-wall-tab")
            .row
              - let wallContent = [];
              - wallContent.push({ img: 'background-image: url("./img/projects-bear.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - wallContent.push({ img: 'background-image: url("./img/projects-bear.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - wallContent.push({ img: 'background-image: url("./img/projects-rabbit.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - wallContent.push({ img: 'background-image: url("./img/projects-rabbit.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - wallContent.push({ img: 'background-image: url("./img/projects-lan-reverse.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - wallContent.push({ img: 'background-image: url("./img/projects-lan.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              each item in wallContent
                +tabContent(item)
        button.btn__primary.projects__btn All projects
    section.cta-footer
      .container
        h1.cta-footer__title you have some problems in housing?
        button.btn__primary.cta-footer__btn
          i.fas.fa-mobile-alt.cta__icon
          | +1 23 568 8967
    section#contact.contacts
      .container
        .row
          .col-xl-5
            h2.contacts__title Our location
            .devider.contacts__devider
            #map.map
              img(src="./img/marker.png")
          .col-xl-7
            .contacts__content
              h2.contacts__title Get a quote
              .devider.contacts__devider
              form.contacts__form
                .form__group
                  .input__group.contacts__name
                    input.name__input(type="text", placeholder="Your Name", name="name")
                    .form__error Error
                  .input__group.contacts__email
                    input.email__input(type="text", placeholder="Your Email", name="email")
                    .form__error Error
                .form__group
                  .input__group.contacts__subjects
                    input(type="text", placeholder="Your Subjects", name="subjects")
                  .input__group.contacts__phone
                    input.phone__input(type="text", placeholder="Your Phone Number", name="phone")
                    .form__error Error
                textarea.contacts__textarea(placeholder="Description Services Needed", name="description")
                button#form__btn.btn__primary.contacts__btn(type="submit") Submit
    section.testimonials
      .container
        .row
          .col-sm-6.col-md-3
            img.testimonials__img(src="./img/testimonials-saw.png")
          .col-sm-6.col-md-3
            img.testimonials__img(src="./img/testimonials-nails.png")
          .col-sm-6.col-md-3
            img.testimonials__img(src="./img/testimonials-plane.png")
          .col-sm-6.col-md-3
            img.testimonials__img(src="./img/testimonials-axe.png")
    section.footer
      .container
        .row
          .col-xl-4.col-lg-6
            h2.footer-contacts__title Contact us
            ul.footer-contacts__content
              - let footerContacts = [];
              - footerContacts.push({ phone: '+1 23 567 8596', img: { src: './img/phone.png' }, subtitle: { text: 'Support 24/7 Weekdays' } });
              - footerContacts.push({ img: { src: './img/mark.png' }, subtitle: { text: 'Auhandy Tower, New York, NY 10013, USA' } });
              - footerContacts.push({ img: { src: './img/envelope.png' }, subtitle: { text: 'info@example.com' } });
              - footerContacts.push({ img: { src: './img/clock.png' }, subtitle: { text: 'Weekdays: 09:00am - 06:00pm' } });
              each contact in footerContacts
                +footerContact(contact)
          .col-xl-4.col-lg-6
            h2.footer-services__title our services
            .row
              .col
                ul.footer-services__content
                  - let footerServices = [];
                  - footerServices.push({ link: { text: 'Electrical' } });
                  - footerServices.push({ link: { text: 'Plumbing' } });
                  - footerServices.push({ link: { text: 'Engine Repair' } });
                  - footerServices.push({ link: { text: 'Repair House' } });
                  - footerServices.push({ link: { text: 'Home Maintenance' } });
                  - footerServices.push({ link: { text: 'Wall Paint' } });
                  each service in footerServices
                    +footerServices(service)
              .col
                ul.footer-services__content
                  - footerServices = [];
                  - footerServices.push({ link: { text: 'Installation' } });
                  - footerServices.push({ link: { text: 'Garden Repairs' } });
                  - footerServices.push({ link: { text: 'Soil Drilling' } });
                  - footerServices.push({ link: { text: 'Support 24/7' } });
                  - footerServices.push({ link: { text: 'Inspection House' } });
                  - footerServices.push({ link: { text: 'Remodeling Ceiling' } });
                  each service in footerServices
                    +footerServices(service)
          .col-xl-4.col-lg-12
            .footer-deal
              h2.footer-deal__title GET&nbsp;
                span 25%&nbsp;
                | OFF
              p.footer-deal__subtitle Electrical Services
              p.footer-deal__redeem Redeem Code:&nbsp;
                span HANDYHPY28
    section.copyright Copyright © 2018&nbsp;
      span Auhandy
      | . Get The Theme
    section#modal__overlay.modal__overlay
      .modal
        button#close__modal.close-btn
          i.fas.fa-times
        h2.contacts__title Get a quote
        .devider.contacts__devider
        form.contacts__form
          .form__group
            .input__group.contacts__name
              input.name__input(type="text", placeholder="Your Name", name="name")
              .form__error Error
            .input__group.contacts__email
              input.email__input(type="text", placeholder="Your Email", name="email")
              .form__error Error
          .form__group
            .input__group.contacts__subjects
              input(type="text", placeholder="Your Subjects", name="subjects")
            .input__group.contacts__phone
              input.phone__input(type="text", placeholder="Your Phone Number", name="phone")
              .form__error Error
          textarea.contacts__textarea(placeholder="Description Services Needed", name="description")
          button#form__btn.btn__primary.contacts__btn(type="submit") Submit
